
#######################################################
## Visual Studio Files
#######################################################
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.userprefs
*.psess
*.vsp
*.vspx
*.sap
*.mdf
*.ldf
*.sdf
**/obj
**/bin
**/TestResults